<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.hyuwah.dicoding.muvilog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MuvilogApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".presentation.widget.FavoritesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="dev.hyuwah.dicoding.muvilog.UPDATE_FAVORITE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorites_widget_info" />
        </receiver>

        <receiver android:name=".services.NotificationAlarmService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:parentActivityName=".presentation.home.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.hyuwah.dicoding.muvilog.presentation.home.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.detail.MovieDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.FavoritesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:authorities="dev.hyuwah.dicoding.muvilog.provider"
            android:name=".provider.FavoriteProvider"
            android:exported="true"
            android:enabled="true"/>
    </application>

</manifest>